@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 防止 Android 點擊反白 */
* {
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  display: none;
}

/* 選擇瀏覽器紀錄 input 時不被改變背景色 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  overscroll-behavior: none;
}

/* 字體 */
.NotoSansR {
  font-family: 'Noto Sans TC', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}
.NotoSansM {
  font-family: 'Noto Sans TC', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}
.NotoSansB {
  font-family: 'Noto Sans TC', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
}
.NotoSerifR {
  font-family: 'Noto Serif TC', serif;
  font-optical-sizing: auto;
  font-weight: 400;
}
.NotoSerifM {
  font-family: 'Noto Serif TC', serif;
  font-optical-sizing: auto;
  font-weight: 500;
}
.NotoSerifB {
  font-family: 'Noto Serif TC', serif;
  font-optical-sizing: auto;
  font-weight: 800;
}
.EB-GaramondR {
  font-family: 'EB Garamond', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.EB-GaramondM {
  font-family: 'EB Garamond', serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.EB-GaramondB {
  font-family: 'EB Garamond', serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

textarea {
  resize: none;
}
